<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta content="FPL Hub" name="title">
    <meta content="Fantasy Premier League statistics" name="description">
    <meta content="initial-scale=1, width=device-width" name="viewport">
    <title>FPL Hub</title>
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
  </head>
  <body class="h-100">
    <div id="app"></div>
    <!-- Built files will be auto injected -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5872209-7"></script>
    <script>
      if (window.location.hostname === 'fplhub.com') {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5872209-7');
      }
    </script>
  </body>
</html>
