<template>
  <div class="center flex flex-auto flex-column justify-center">
    <button
      class="
        b--transparent
        ba
        bg-dark-red
        br2
        f5
        mh3
        mh4-l
        mv2
        ph4
        pv3
        pointer
        white
      "
      @click="bootstrap('players')"
    >
      Bootstrap players
    </button>
    <button
      class="
        b--transparent
        ba
        bg-dark-red
        br2
        f5
        mh3
        mh4-l
        mv2
        ph4
        pv3
        pointer
        white
      "
      @click="bootstrap('fixtures')"
    >
      Bootstrap fixtures
    </button>
  </div>
</template>

<script>
import app from '@/feathers';
import {mapActions} from 'vuex';

export default {
  name: 'fh-admin-view',
  methods: {
    ...mapActions('loaders', ['startLoader', 'stopLoader']),
    bootstrap(type) {
      const timeout = setTimeout(() => {
        this.startLoader('bootstrap');
      }, 300);

      app
        .service(`api/bootstrap-${type}`)
        .find()
        .then(res => {
          console.log(res); // eslint-disable-line no-console
          this.stopLoader('bootstrap');
          clearTimeout(timeout);
        })
        .catch(err => {
          console.log(err); // eslint-disable-line no-console
          this.stopLoader('bootstrap');
          clearTimeout(timeout);
        });
    }
  }
};
</script>
