<template>
  <span :class="['_badge', `_badge--${team}`]">
    <img
      :alt="team"
      :src="require(`@/assets/badges/t${code}.png`)"
      :srcset="require(`@/assets/badges/t${code}@x2.png`)"
    />
  </span>
</template>

<script>
export default {
  name: 'fh-badge',
  props: ['code', 'team']
};
</script>

<style>
@import 'tachyons/src/_media-queries.css';

:root {
  --badge-size: 36px;
}

@media (--breakpoint-not-small) {
  :root {
    --badge-size: 48px;
  }
}

._badge {
  height: var(--badge-size);
  width: var(--badge-size);
}
</style>
