<template>
  <span class="_swatch br1 dib mr1 v-mid" :class="color" @click.stop></span>
</template>

<script>
export default {
  name: 'fh-color-swatch',
  props: ['color']
};
</script>

<style scoped>
._swatch {
  height: 0.75rem;
  width: 0.75rem;
}
</style>
