<template>
  <div>
    <h4 class="bg-black-10 f6 lh-solid ma0 ph3 pv2 tc">
      {{ stat.title }}
    </h4>
    <div class="flex">
      <ul class="list ma0 pb2 ph2 pt3 tr w-50">
        <li
          class="mb2"
          v-for="(item, i) in stat.home"
          :key="item.player.webName"
        >
          <span v-if="!stat.limit || i < stat.limit">
            {{ item.player.webName }} ({{ item.value }})
          </span>
        </li>
      </ul>
      <ul class="list ma0 pb2 ph2 pt3 w-50">
        <li
          class="mb2"
          v-for="(item, i) in stat.away"
          :key="item.player.webName"
        >
          <span v-if="!stat.limit || i < stat.limit">
            ({{ item.value }}) {{ item.player.webName }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'fh-fixture-stat',
  props: ['stat']
};
</script>
