<template>
  <div
    class="
      _fixture
      b--black-20
      ba
      bg-white
      br2
      flex
      flex-column
      mt2
      overflow-hidden
    "
  >
    <div class="flex pv3" :class="{pointer: hasStats}" @click="toggleCollapse">
      <div class="flex flex-auto items-center justify-between ph3">
        <div class="flex items-center w-third">
          <fh-badge
            class="dib mr3"
            :code="fixture.homeTeamDetails.code"
            :team="fixture.homeTeamDetails.shortName.toLowerCase()"
          />
          <h3 class="dn-l f5 fw6">{{ fixture.homeTeamDetails.shortName }}</h3>
          <h3 class="dib-l dn f5">{{ fixture.homeTeamDetails.name }}</h3>
        </div>
        <div class="tc w-third">
          <span
            class="_pill br2 dib fw6 ph2 pv1"
            :class="{
              'bg-dark-gray near-white': fixture.hasFinished,
              'b--black-20 bg-light-gray': !fixture.hasStarted,
              'bg-green near-white': fixture.hasStarted && !fixture.hasFinished
            }"
          >
            <span v-if="fixture.hasStarted">
              {{ fixture.homeTeamScore }} - {{ fixture.awayTeamScore }}
            </span>
            <span v-else>
              {{ kickoffTime }}
            </span>
          </span>
        </div>
        <div class="flex items-center justify-end w-third">
          <h3 class="dn-l f5 fw6">{{ fixture.awayTeamDetails.shortName }}</h3>
          <h3 class="dib-l dn f5">{{ fixture.awayTeamDetails.name }}</h3>
          <fh-badge
            class="dib ml3"
            :code="fixture.awayTeamDetails.code"
            :team="fixture.awayTeamDetails.shortName.toLowerCase()"
          />
        </div>
      </div>
      <div class="_bonus dn flex-column flex-l pr3 relative w-third">
        <div v-if="rankedBPS">
          <div
            class="_bonus-item mt2 relative"
            v-for="item in rankedBPS"
            :key="item.key"
          >
            <span class="_bonus-points absolute fw6 tc w2">{{ item.key }}</span>
            <span>{{ item.players.join(', ') }} ({{ item.value }})</span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="hasStats">
      <transition
        name="expand"
        @enter="expand"
        @after-enter="expanded"
        @before-leave="collapse"
      >
        <div class="_collapsible" v-if="!fixture.isCollapsed">
          <div class="_inset-shadow b--black-20 bg-washed-green bt">
            <div class="flex">
              <div class="flex flex-auto flex-column">
                <fh-fixture-stat
                  v-for="stat in fixture.stats"
                  :key="stat.title"
                  :stat="stat"
                />
              </div>
              <div class="_placeholder dn flex-l relative w-third"></div>
            </div>
            <div class="b--black-20 bt f7 ph3 pv3 tr">
              {{ lastUpdated }}
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import Badge from './Badge';
import FixtureStat from './FixtureStat';
import {format, parseISO} from 'date-fns';

export default {
  name: 'fh-fixture-item',
  props: ['fixture'],
  computed: {
    rankedBPS() {
      if (!this.hasStats) {
        return;
      }

      const combinedBPS = [
        ...this.fixture.stats.bonusPointsSystem.home,
        ...this.fixture.stats.bonusPointsSystem.away
      ].sort((a, b) => b.value - a.value);

      let nextBonus = 3;
      let prevBonus = 3;

      const filteredBPS = combinedBPS
        .map((item, i) => {
          const prevItem = combinedBPS[i - 1];
          const isSame = prevItem && prevItem.value === item.value;
          const currBonus = isSame ? prevBonus : nextBonus;

          nextBonus = !nextBonus ? 0 : nextBonus - 1;
          prevBonus = currBonus;

          return {...item, bonus: currBonus};
        })
        .filter(item => item.bonus > 0)
        .reduce((a, b) => {
          a[b.bonus] = {
            players: a[b.bonus]
              ? [...a[b.bonus].players, b.player.webName]
              : [b.player.webName],
            value: b.value
          };

          return a;
        }, {});

      const sortedBPS = Object.keys(filteredBPS)
        .sort((a, b) => b - a)
        .map(key => ({
          key,
          players: filteredBPS[key].players,
          value: filteredBPS[key].value
        }));

      return sortedBPS;
    },
    hasStats() {
      return Object.keys(this.fixture.stats).length;
    },
    kickoffTime() {
      return format(parseISO(this.fixture.kickoffTime), 'HH:mm');
    },
    lastUpdated() {
      const date = format(parseISO(this.fixture.updatedAt), 'dd/MM/y, HH:mm');

      return `Last updated: ${date}`;
    }
  },
  methods: {
    collapse(el) {
      if (this.fixture.forceCollapse) {
        el.style.height = '0px';

        return;
      }

      const expandedHeight = el.offsetHeight;

      el.style.height = `${expandedHeight}px`;

      window.setTimeout(() => {
        el.style.height = '0px';
      }, 10);
    },
    expand(el) {
      el.style.height = 'auto';

      const expandedHeight = el.offsetHeight;

      el.style.height = '0px';

      window.setTimeout(() => {
        el.style.height = `${expandedHeight}px`;
      }, 10);

      this.fixture.forceCollapse = false;
    },
    expanded(el) {
      el.style.height = 'auto';
    },
    toggleCollapse() {
      if (!this.hasStats) {
        return;
      }

      this.fixture.isCollapsed = !this.fixture.isCollapsed;
    }
  },
  components: {
    'fh-badge': Badge,
    'fh-fixture-stat': FixtureStat
  }
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';

._bonus {
  min-height: 4rem;
}

._bonus::before {
  background-color: var(--light-gray);
  bottom: -1rem;
  content: '';
  position: absolute;
  top: -1rem;
  width: 2rem;
}

._bonus-item {
  padding-left: 3.25rem;
}

._bonus-item:first-child {
  margin-top: 0;
}

._bonus-points {
  left: 1px;
}

._collapsible {
  transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

._inset-shadow {
  box-shadow: 0 3px 9px -3px rgba(0, 0, 0, 0.1) inset;
}

._pill {
  min-width: 2.5rem;
}

._placeholder::before {
  border-left: 1px dashed var(--black-20);
  border-right: 1px dashed var(--black-20);
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: 2rem;
}
</style>
