<template>
  <div class="_main black-70 f6 flex flex-column sans-serif">
    <div class="flex-auto pa3 pa4-l">
      <div class="center mw8-l">
        <div class="_msg absolute tc" v-if="isLoadingMsgEnabled && anyLoading">
          <h2 class="f5 f4-ns">
            {{ loadingMsg }}
          </h2>
        </div>
        <div v-else-if="hasGroupedFixtures">
          <fh-pagination class="mb3 mt2-ns" v-if="total > limit" />
          <fh-fixture-list />
          <fh-pagination class="mb2-ns mt3" v-if="total > limit" />
        </div>
        <div class="_msg absolute tc" v-else-if="hasInitialised && !anyLoading">
          <h2 class="f5 f4-ns">
            No fixtures found
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import app from '@/feathers';
import FixtureList from './FixtureList';
import Pagination from './Pagination';
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

export default {
  name: 'fh-fixture-view',
  computed: {
    ...mapState('loaders', [
      'hasInitialised',
      'isLoadingMsgEnabled',
      'loadingMsg'
    ]),
    ...mapState('pagination', ['limit', 'total']),
    ...mapGetters('fixtures', ['groupedFixtures', 'hasGroupedFixtures']),
    ...mapGetters('loaders', ['anyLoading']),
    ...mapGetters('pagination', ['_skip'])
  },
  methods: {
    ...mapMutations('loaders', ['disableLoadingMsg', 'setInitialised']),
    ...mapActions('fixtures', ['fetchFixtures'])
  },
  created() {
    this.fetchFixtures().then(() => {
      this.disableLoadingMsg();
      this.setInitialised();
    });

    this.unwatch = this.$store.watch(
      () => this._skip,
      () => this.fetchFixtures()
    );

    // #TODO: Wait until gameday and check that this works.
    app.service('api/fixtures').on('bootstrapped', this.fetchFixtures);
  },
  destroyed() {
    this.unwatch();
  },
  components: {
    'fh-fixture-list': FixtureList,
    'fh-pagination': Pagination
  }
};
</script>

<style scoped>
._main {
  min-height: 100%;
}

._msg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>
