<template>
  <div>
    <div v-for="(group, i) in groupedFixtures" :key="i">
      <h2 class="f5 lh-solid" :class="{mt4: i > 1}">
        {{ group.title }}
      </h2>
      <fh-fixture-item
        v-for="fixture in group.fixtures"
        :key="fixture.id"
        :fixture="fixture"
      />
    </div>
  </div>
</template>

<script>
import FixtureItem from './FixtureItem';
import {mapGetters} from 'vuex';

export default {
  name: 'fh-fixture-list',
  computed: {
    ...mapGetters('fixtures', ['groupedFixtures'])
  },
  components: {
    'fh-fixture-item': FixtureItem
  }
};
</script>
