<template>
  <div class="_footer b--black-20 bg-white bt ph3 ph4-l pv2 pv3-l">
    <div class="mv2 mv1-l tr">
      {{ copyright }}
      <span v-html="verticalBar"></span>
      <a
        class="green hover-dark-green link"
        href="https://www.reddit.com/message/compose/?to=foorawr"
      >
        Send feedback
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'fh-footer',
  data() {
    return {
      verticalBar: '&#124;'
    };
  },
  computed: {
    copyright() {
      const year = new Date().getFullYear();

      return `\u00A9 ${year} fplhub.com`;
    }
  }
};
</script>

<style scoped>
._footer {
  margin-top: auto;
}
</style>
