<template>
  <span @click="navigate">
    <slot></slot>
  </span>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';

export default {
  name: 'fh-header-link',
  props: ['to'],
  methods: {
    ...mapGetters('pagination', ['_skip']),
    ...mapMutations('loaders', ['unsetInitialised']),
    navigate() {
      if (this.to !== this.$route.path) {
        this.$emit('clicked');
        this.unsetInitialised();

        this.$store.dispatch('resetAll').then(() => {
          this.$router.push(this.to).catch(() => {});
        });
      } else if (this._skip() !== null) {
        this.$emit('clicked');
        this.unsetInitialised();
        this.$store.dispatch('resetAll');
      }
    }
  }
};
</script>
