<template>
  <div class="bg-green ph3 ph4-l pv2 pv3-l relative shadow-4">
    <div class="flex items-center justify-between-ns">
      <div>
        <button
          class="_hamburger-button b0 dn-ns link pa0 mr3 near-white"
          @click.prevent="toggleDrawer"
        >
          <fh-hamburger class="_hamburger-icon" />
        </button>
        <h1 class="dib f5 mr3 mr4-ns mv2 mv1-l">
          <fh-header-link class="link near-white pointer" to="/players">
            FPL Hub
          </fh-header-link>
        </h1>
        <nav class="dib-ns dn mv2 mv1-l">
          <fh-header-link class="link mr3 near-white pointer" to="/players">
            Players
          </fh-header-link>
          <fh-header-link class="link mr3 near-white pointer" to="/fixtures">
            Fixtures
          </fh-header-link>
        </nav>
      </div>
      <fh-spinner class="_spinner-wrap" v-if="anyLoading" />
      <router-view class="_search" name="search" v-if="hasAttemptedAuth" />
      <div v-if="user">
        <button
          class="
            b--transparent
            ba
            bg-transparent
            dib-ns
            dn
            link
            ml3
            ml4-l
            near-white
            pa0
            pointer
          "
          @click.prevent="handleLogout"
        >
          Logout
        </button>
      </div>
    </div>
    <div :class="{'is-open': isDrawerOpen}">
      <div class="_drawer dn-ns">
        <div class="bg-green ph3 ph4-l pv2 pv3-l">
          <h1 class="dib f5 mv2 mv1-l">
            <fh-header-link
              class="link near-white pointer"
              to="/players"
              @clicked="resetDrawer"
            >
              FPL Hub
            </fh-header-link>
          </h1>
        </div>
        <nav class="_drawer-nav">
          <fh-header-link
            class="_drawer-link db green hover-dark-green link ph3 ph4-l pointer"
            to="/players"
            @clicked="resetDrawer"
          >
            Players
          </fh-header-link>
          <fh-header-link
            class="_drawer-link db green hover-dark-green link ph3 ph4-l pointer"
            to="/fixtures"
            @clicked="resetDrawer"
          >
            Fixtures
          </fh-header-link>
        </nav>
        <!-- #TODO: Add drawer admin links. -->
      </div>
      <div class="_backdrop dn-ns" @click="toggleDrawer"></div>
    </div>
  </div>
</template>

<script>
import Hamburger from '../assets/hamburger.svg';
import HeaderLink from './HeaderLink';
import Spinner from './Spinner';
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

export default {
  name: 'fh-header',
  data() {
    return {
      isDrawerOpen: false
    };
  },
  computed: {
    ...mapState('auth', ['hasAttemptedAuth', 'user']),
    ...mapGetters('loaders', ['anyLoading'])
  },
  methods: {
    ...mapMutations('loaders', ['unsetInitialised']),
    ...mapActions('auth', ['logout']),
    handleLogout() {
      this.logout()
        .then(() => this.$router.push('/').catch(() => {}))
        // eslint-disable-next-line no-console
        .catch(err => console.log(err));
    },
    resetDrawer() {
      this.isDrawerOpen = false;
      document.body.classList.remove('overflow-y-hidden');
    },
    toggleDrawer() {
      const el = document.body;

      this.isDrawerOpen = !this.isDrawerOpen;

      if (this.isDrawerOpen) {
        el.classList.add('overflow-y-hidden');
      } else {
        el.classList.remove('overflow-y-hidden');
      }
    }
  },
  components: {
    'fh-hamburger': Hamburger,
    'fh-header-link': HeaderLink,
    'fh-spinner': Spinner
  }
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';
@import 'tachyons/src/_media-queries.css';

._backdrop {
  background-color: var(--black-20);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s linear 0.2s,
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  z-index: 101;
}

._drawer {
  background-color: var(--white);
  bottom: 0;
  left: 0;
  max-width: 17.5rem;
  position: fixed;
  right: 3.5rem;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition: visibility 0s linear 0.2s,
    transform 0.35s cubic-bezier(0.24, 1, 0.32, 1);
  visibility: hidden;
  z-index: 102;
}

._drawer-link,
._drawer-nav {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

._hamburger-button {
  background: none;
  border: 0;
  cursor: pointer;
}

._hamburger-icon {
  vertical-align: middle;
}

._search {
  margin-left: auto;
  max-width: 50%;
}

._spinner-wrap {
  height: 1.5rem;
  width: 1.5rem;
}

.is-open ._backdrop,
.is-open ._drawer {
  transition-delay: 0s;
  visibility: visible;
}

.is-open ._backdrop {
  opacity: 1;
}

.is-open ._drawer {
  transform: translate3d(0, 0, 0);
}

@media (--breakpoint-not-small) {
  ._spinner-wrap {
    background-color: var(--white);
    height: 2.5rem;
    left: 50%;
    margin-left: -1.25rem;
    top: 1.85rem;
    width: 2.5rem;
  }
}

@media (--breakpoint-large) {
  ._spinner-wrap {
    top: 2.375rem;
  }
}
</style>
