<template>
  <div
    class="
      center
      flex
      flex-auto
      flex-column
      justify-center
      measure-wide
      w-100
    "
    v-if="hasAttemptedAuth"
  >
    <div class="b--black-20 ba bg-white br2 mh3 mh4-l mv4 pa3">
      <div v-if="user">
        You're currently logged in as <strong>{{ user.username }}</strong>
      </div>
      <form v-else @submit.prevent="login(username, password)">
        <fieldset class="ba b--transparent ma0 pa0">
          <legend class="f4 fw6 mb3">Login</legend>
          <div class="mb3">
            <label class="db mb1" for="username">Username</label>
            <input
              class="b--black-20 ba br2 ph2 pv1 w-100"
              id="username"
              type="text"
              v-model="username"
            />
          </div>
          <div class="mb3">
            <label class="db mb1" for="password">Password</label>
            <input
              class="b--black-20 ba br2 ph2 pv1 w-100"
              id="password"
              type="password"
              v-model="password"
            />
          </div>
        </fieldset>
        <div class="mb3 dark-red" v-if="authErr">
          {{ authErr.message }}
        </div>
        <div>
          <button
            class="
              b--dark-green
              ba bg-green
              br2
              link
              ph3
              pointer
              pv2
              white
            "
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex';

export default {
  name: 'fh-login-view',
  data() {
    return {
      username: undefined,
      password: undefined
    };
  },
  computed: {
    ...mapState('auth', ['authErr', 'hasAttemptedAuth', 'user'])
  },
  methods: {
    ...mapMutations('loaders', ['setInitialised']),
    ...mapActions('auth', ['authenticate']),
    login(username, password) {
      this.authenticate({strategy: 'local', username, password})
        .then(() => this.$router.push('/admin').catch(() => {}))
        // eslint-disable-next-line no-console
        .catch(err => console.log(err));
    }
  },
  created() {
    this.setInitialised();
  }
};
</script>
