<template>
  <nav>
    <ul class="flex justify-end list ma0 nl1 pa0">
      <li
        class="
          ba
          br2
          dib
          ml1
          ph2
          pointer
          pv1
          tc
        "
        v-for="item in paginationItems"
        :class="{
          'b--dark-green bg-green white': item.index === currPageNum,
          'b--light-silver bg-white': item.index !== currPageNum
        }"
        :key="item.index"
        @click="updatePagination(item.index)"
      >
        {{ itemVal(item.value) }}
      </li>
    </ul>
  </nav>
</template>

<script>
import {mapGetters, mapMutations, mapState} from 'vuex';

export default {
  name: 'fh-pagination',
  computed: {
    ...mapState('pagination', ['limit']),
    ...mapGetters('pagination', ['currPageNum', 'paginationItems'])
  },
  methods: {
    ...mapMutations('pagination', ['setPaginationState']),
    itemVal(val) {
      return Number.isInteger(val) ? val + 1 : val;
    },
    updatePagination(val) {
      this.setPaginationState({
        key: '_skip',
        val: val * this.limit
      });
    }
  }
};
</script>
