<template>
  <div class="_main black-70 f6 flex flex-column sans-serif">
    <fh-player-controls v-if="hasPlayers" />
    <div class="flex-auto pa3 pa4-l">
      <div class="center mw8-l">
        <div class="_msg absolute tc" v-if="isLoadingMsgEnabled && anyLoading">
          <h2 class="f5 f4-ns">
            {{ loadingMsg }}
          </h2>
        </div>
        <div v-else-if="hasPlayers">
          <fh-pagination class="mb3 mt2-ns" v-if="total > limit" />
          <fh-player-list />
          <fh-pagination class="mb2-ns mt3" v-if="total > limit" />
        </div>
        <div class="_msg absolute tc" v-else-if="hasInitialised && !anyLoading">
          <h2 class="f5 f4-ns">
            No players found
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Pagination from './Pagination';
import PlayerControls from './PlayerControls';
import PlayerList from './PlayerList';
import {mapActions, mapGetters, mapMutations, mapState} from 'vuex';

export default {
  name: 'fh-player-view',
  computed: {
    ...mapState('loaders', [
      'hasInitialised',
      'isLoadingMsgEnabled',
      'loadingMsg'
    ]),
    ...mapState('pagination', ['limit', 'total']),
    ...mapGetters('loaders', ['anyLoading']),
    ...mapGetters('pagination', ['_skip']),
    ...mapGetters('players', ['hasPlayers'])
  },
  methods: {
    ...mapMutations('loaders', ['disableLoadingMsg', 'setInitialised']),
    ...mapActions('players', ['fetchPlayers']),
    ...mapActions('positions', ['fetchPositions']),
    ...mapActions('teams', ['fetchTeams'])
  },
  created() {
    Promise.all([
      this.fetchPositions(),
      this.fetchTeams(),
      this.fetchPlayers()
    ]).then(() => {
      this.disableLoadingMsg();
      this.setInitialised();
    });

    this.unwatch = this.$store.watch(
      () => this._skip,
      () => this.fetchPlayers()
    );
  },
  destroyed() {
    this.unwatch();
  },
  components: {
    'fh-pagination': Pagination,
    'fh-player-controls': PlayerControls,
    'fh-player-list': PlayerList
  }
};
</script>

<style scoped>
._main {
  min-height: 100%;
}

._msg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
</style>
