<template>
  <div
    class="
      _player
      b--black-20
      ba
      bg-white
      br2
      flex
      flex-column
      mt2
      overflow-hidden
    "
  >
    <div
      class="flex pointer pv3"
      @click.prevent="player.isCollapsed = !player.isCollapsed"
    >
      <div class="flex flex-column ph3 w-50 w-third-ns w-25-l">
        <h3 class="f5 lh-solid mb2 mt0">
          {{ player.webName }}
        </h3>
        <div class="mb2">
          {{ player.positionDetails.singularNameShort }} -
          {{ player.teamDetails.shortName }}
        </div>
        <div>
          <fh-tooltip
            v-for="fixture in player.fixtureDifficulty"
            :key="fixture.id"
            :tooltip="fixtureTooltip(fixture)"
          >
            <fh-color-swatch :color="difficultyColor(fixture.difficulty)" />
          </fh-tooltip>
        </div>
      </div>
      <div
        class="b--black-20 bl flex-column ph3 w-third-ns w-25-l"
        v-for="(group, i) in groupedPrimaryStats(3)"
        :class="{
          'dn flex-ns': i === 0,
          'dn flex-l': i === 1,
          'flex w-50': i === 2
        }"
        :key="i"
      >
        <div
          class="_stat flex justify-between mt2"
          v-for="stat in group"
          :class="{
            '_highlighted-stat': stat.id === sort
          }"
          :key="stat.id"
        >
          <fh-tooltip :tooltip="stat.tooltip" v-if="stat.tooltip">
            {{ stat.title }}
          </fh-tooltip>
          <span v-else>
            {{ stat.title }}
          </span>
          {{
            dynamicFilter(
              player.stats[stat.id][timeframe],
              getCombinedStatsFilter(stat.id)
            )
          }}
        </div>
      </div>
    </div>
    <transition
      name="expand"
      @enter="expand"
      @after-enter="expanded"
      @before-leave="collapse"
    >
      <div class="_collapsible" v-if="!player.isCollapsed">
        <div class="_inset-shadow b--black-20 bg-washed-green bt">
          <div class="flex flex-wrap pb2 pt3">
            <div
              class="flex justify-between mb2 ph3 w-50 w-third-ns w-25-l"
              v-for="(stat, i) in orderedStats"
              :class="{
                '_dn-ns': i < 3,
                '_dn-l': i >= 3 && i < 6,
                _dn: i >= 6 && i < primaryStatsLength
              }"
              :key="stat.id"
            >
              <fh-tooltip
                class="_default"
                :tooltip="stat.tooltip"
                v-if="stat.tooltip"
              >
                {{ stat.title }}
              </fh-tooltip>
              <span v-else>
                {{ stat.title }}
              </span>
              {{
                dynamicFilter(
                  player.stats[stat.id][timeframe],
                  getCombinedStatsFilter(stat.id)
                )
              }}
            </div>
          </div>
          <fh-player-game-history
            :player="player"
            v-if="player.gameHistory.length"
          />
          <fh-player-season-history
            :player="player"
            v-if="player.seasonHistory.length"
          />
          <div class="b--black-20 bt f7 ph3 pv3 tr">
            {{ lastUpdated }}
          </div>
        </div>
      </div>
    </transition>
    <div class="b--black-20 bt ph3 pv2" v-if="player.news">
      {{ player.news }}
    </div>
  </div>
</template>

<script>
import ColorSwatch from './ColorSwatch';
import PlayerGameHistory from './PlayerGameHistory';
import PlayerSeasonHistory from './PlayerSeasonHistory';
import Tooltip from './Tooltip';
import {format, parseISO} from 'date-fns';
import {mapGetters, mapState} from 'vuex';

export default {
  name: 'fh-player-item',
  props: ['player'],
  computed: {
    ...mapState('players', ['sort', 'timeframe']),
    ...mapGetters('players', [
      'getCombinedStatsFilter',
      'groupedPrimaryStats',
      'orderedStats',
      'primaryStatsLength'
    ]),
    ...mapGetters('teams', ['teamShortName']),
    lastUpdated() {
      const date = format(parseISO(this.player.updatedAt), 'dd/MM/y, HH:mm');

      return `Last updated: ${date}`;
    }
  },
  methods: {
    collapse(el) {
      if (this.player.forceCollapse) {
        el.style.height = '0px';

        return;
      }

      const expandedHeight = el.offsetHeight;

      el.style.height = `${expandedHeight}px`;

      window.setTimeout(() => {
        el.style.height = '0px';
      }, 10);
    },
    difficultyColor(difficulty) {
      return {
        'bg-red': difficulty === 5,
        'bg-orange': difficulty === 4,
        'bg-gold': difficulty === 3,
        'bg-green': difficulty === 2,
        'bg-dark-green': difficulty === 1,
        'bg-light-silver': difficulty === 0
      };
    },
    dynamicFilter(val, filter) {
      if (filter) {
        return this.$options.filters[filter](val);
      }

      return val;
    },
    expand(el) {
      el.style.height = 'auto';

      const expandedHeight = el.offsetHeight;

      el.style.height = '0px';

      window.setTimeout(() => {
        el.style.height = `${expandedHeight}px`;
      }, 10);

      this.player.forceCollapse = false;
    },
    expanded(el) {
      el.style.height = 'auto';
    },
    fixtureTooltip(fixture) {
      if (fixture.difficulty) {
        return `${this.teamShortName(fixture.opponentTeamId)} (${
          fixture.isHome ? 'H' : 'A'
        })`;
      }

      return 'Blank GW';
    }
  },
  // #TODO: Move filters to the store?
  filters: {
    fixed(val) {
      return val ? val.toFixed(1) : 0;
    },
    gbp(val) {
      return val ? `£${(val / 10).toFixed(1)}` : '£0.0';
    },
    percentage(val) {
      return val ? `${val.toFixed(1)}%` : '0%';
    }
  },
  components: {
    'fh-color-swatch': ColorSwatch,
    'fh-player-game-history': PlayerGameHistory,
    'fh-player-season-history': PlayerSeasonHistory,
    'fh-tooltip': Tooltip
  }
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';
@import 'tachyons/src/_media-queries.css';

._collapsible {
  transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

._default {
  cursor: default;
}

._dn {
  display: none;
}

._inset-shadow {
  box-shadow: 0 3px 9px -3px rgba(0, 0, 0, 0.1) inset;
}

._player:first-child,
._stat:first-child {
  margin-top: 0;
}

._highlighted-stat:first-child {
  background-color: var(--light-gray);
  border-radius: 0.25rem;
  font-weight: 700;
  margin: -0.25rem -0.5rem;
  padding: 0.25rem 0.5rem;
}

@media (--breakpoint-not-small) {
  ._dn-ns {
    display: none;
  }
}

@media (--breakpoint-large) {
  ._dn-l {
    display: none;
  }
}
</style>
