<template>
  <!-- #TODO: Move string values to the data function? -->
  <!-- #TODO: Add ability to filter by price. -->
  <div class="bg-dark-gray near-white pa3 pa4-l">
    <div class="center flex flex-column flex-row-ns justify-between mw8-l">
      <div class="mb3 mb0-ns">
        <label class="db f6 mb2 mt0">
          Filter by
        </label>
        <div class="flex flex-column flex-row-l inline-flex-l">
          <fh-select
            class="mb2 mb0-l"
            :defaultText="'All positions'"
            :defaultValue="'all'"
            :options="orderedPositions"
            :selected="position"
            :text="'pluralName'"
            :value="'id'"
            @change="
              updatePlayersQuery({
                _position: $event.target.value
              })
            "
          />
          <fh-select
            class="ml2-l"
            :defaultText="'All teams'"
            :defaultValue="'all'"
            :options="orderedTeams"
            :selected="team"
            :text="'name'"
            :value="'id'"
            @change="
              updatePlayersQuery({
                _team: $event.target.value
              })
            "
          />
        </div>
      </div>
      <div>
        <label class="db f6 mb2 mt0">
          Sort by
        </label>
        <div class="flex flex-column flex-row-l inline-flex-l">
          <fh-select
            class="mb2 mb0-l"
            :options="orderedCombinedStats"
            :selected="sort"
            :text="'title'"
            :value="'id'"
            @change="
              updatePlayersQuery({
                _sort: $event.target.value
              })
            "
          />
          <fh-select
            class="ml2-l"
            :disabled="isGlobalStat"
            :options="timeframes"
            :selected="timeframe"
            :text="'title'"
            :value="'id'"
            @change="
              updatePlayersQuery({
                _timeframe: $event.target.value
              })
            "
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Select from './Select';
import {mapActions, mapGetters, mapState} from 'vuex';

export default {
  name: 'fh-player-controls',
  computed: {
    ...mapState('players', [
      'position',
      'sort',
      'team',
      'timeframe',
      'timeframes'
    ]),
    ...mapGetters('players', ['orderedCombinedStats', 'isGlobalStat']),
    ...mapGetters('positions', ['orderedPositions']),
    ...mapGetters('teams', ['orderedTeams'])
  },
  methods: {
    ...mapActions('players', ['updatePlayersQuery'])
  },
  components: {
    'fh-select': Select
  }
};
</script>
