<template>
  <div>
    <fh-player-item
      v-for="player in players"
      :key="player.id"
      :player="player"
    />
  </div>
</template>

<script>
import PlayerItem from './PlayerItem';
import {mapState} from 'vuex';

export default {
  name: 'fh-player-list',
  computed: {
    ...mapState('players', ['players'])
  },
  components: {
    'fh-player-item': PlayerItem
  }
};
</script>
