<template>
  <input
    class="
      _input
      b--transparent
      ba
      bg-black-20
      white
      br2
      input-reset
      ph2
      pv1
    "
    placeholder="Player search..."
    type="search"
    v-model="val"
    @input="searchPlayers"
  />
</template>

<script>
import debounce from 'debounce';
import {mapActions, mapGetters} from 'vuex';

export default {
  name: 'fh-player-search',
  data() {
    return {
      val: ''
    };
  },
  computed: {
    ...mapGetters('players', ['search'])
  },
  methods: {
    ...mapActions('players', ['searchPlayers'])
  },
  created() {
    this.searchPlayers = debounce(this.searchPlayers, 500);

    this.$store.watch(
      () => this.search,
      () => (this.val = this.search ? this.search.$search : '')
    );
  }
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';

._input::placeholder {
  color: var(--white-80);
}
</style>
