<template>
  <div>
    <div class="b--black-20 bt pb2 ph3 pt3">
      <h4 class="f6 lh-solid mb3 mt0">
        Previous 6 games
      </h4>
      <div class="overflow-x-auto">
        <table class="collapse f7 w-100">
          <thead class="bg-black-10">
            <tr>
              <th
                class="_th pa2 tl"
                v-for="(row, i) in gameHistoryStats"
                :key="i"
              >
                <fh-tooltip
                  class="_default"
                  :boundaries-element="'body'"
                  :container="'body'"
                  :tooltip="row.tooltip"
                >
                  {{ row.title }}
                </fh-tooltip>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="b--black-20 bt"
              v-for="(game, i) in historySummary"
              :key="i"
            >
              <td class="pa2" v-for="(row, i) in gameHistoryStats" :key="i">
                {{
                  dynamicFilter(game[row.id], getGameHistoryStatsFilter(row.id))
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="b--black-20 bt pb2 ph3 pt3">
      <h4 class="f6 lh-solid mb3 mt0">
        All games
      </h4>
      <div class="overflow-x-auto">
        <table class="collapse f7 w-100">
          <thead class="bg-black-10">
            <tr>
              <th
                class="_th pa2 tl"
                v-for="(row, i) in gameHistoryStats"
                :key="i"
              >
                <fh-tooltip
                  class="_default"
                  :boundaries-element="'body'"
                  :container="'body'"
                  :tooltip="row.tooltip"
                >
                  {{ row.title }}
                </fh-tooltip>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="b--black-20 bt">
              <td class="pa2" v-for="(row, i) in gameHistoryStats" :key="i">
                <span>
                  {{
                    player.stats[row.id]
                      ? dynamicFilter(
                          player.stats[row.id].total,
                          getGameHistoryStatsFilter(row.id)
                        )
                      : '-'
                  }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Tooltip from './Tooltip';
import {mapGetters, mapState} from 'vuex';

export default {
  name: 'fh-player-game-history',
  props: ['player'],
  computed: {
    ...mapState('players', ['gameHistoryStats']),
    ...mapGetters('players', ['getGameHistoryStatsFilter']),
    historySummary() {
      const history = this.player.gameHistory;

      return history.slice(Math.max(history.length - 6, 0)).reverse();
    }
  },
  methods: {
    dynamicFilter(val, filter) {
      if (filter) {
        return this.$options.filters[filter](val);
      }

      return val;
    }
  },
  // #TODO: Move filters to the store?
  filters: {
    fixed(val) {
      return val ? val.toFixed(1) : 0;
    },
    gbp(val) {
      return val ? `£${(val / 10).toFixed(1)}` : '£0.0';
    },
    localeString(val) {
      return val ? val.toLocaleString() : 0;
    }
  },
  components: {
    'fh-tooltip': Tooltip
  }
};
</script>

<style scoped>
._default {
  cursor: default;
}

._th {
  min-width: 3rem;
}
</style>
