<template>
  <div class="_select dib relative" :class="{_disabled: disabled}">
    <select
      class="
        b--light-silver
        ba
        bg-white
        black-70
        br2
        input-reset
        pl2
        pointer
        pr4
        pv1
        w-100
        w-auto-ns
      "
      @change="onChange($event)"
      :disabled="disabled"
    >
      <option v-if="defaultText && defaultValue" :value="defaultValue">
        {{ defaultText }}
      </option>
      <option
        v-for="option in options"
        :key="option[value]"
        :selected="option[value] == selected"
        :value="option[value]"
      >
        {{ option[text] }}
      </option>
    </select>
    <div class="_caret absolute b--silver bb bl db rotate-315"></div>
  </div>
</template>

<script>
export default {
  name: 'fh-select',
  props: [
    'defaultText',
    'defaultValue',
    'disabled',
    'options',
    'selected',
    'text',
    'value'
  ],
  methods: {
    onChange(e) {
      this.$emit('change', e);
    }
  }
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';

._caret {
  height: 0.5rem;
  pointer-events: none;
  right: 0.75rem;
  top: 0.5rem;
  width: 0.5rem;
}

._select select {
  min-width: 150px;
  width: 100%;
}

._select select,
._select ._caret {
  transition: border-color 0.15s ease-in;
}

._select:hover select,
._select:hover ._caret {
  border-color: var(--gray);
}

._disabled select {
  cursor: default;
  opacity: 0.6;
}

._disabled ._caret,
._disabled:hover ._caret {
  border-color: var(--gray);
}
</style>
