<template>
  <div
    class="
      _spinner-wrap
      absolute-ns
      br-100
      flex
      flex-shrink-0
      items-center
      justify-center
      mr3
      mr0-ns
      shadow-2-ns
      z-2
    "
  >
    <div class="_spinner br-100 db"></div>
  </div>
</template>

<script>
export default {
  name: 'fh-spinner'
};
</script>

<style scoped>
@import 'tachyons/src/_colors.css';
@import 'tachyons/src/_media-queries.css';

._spinner {
  animation: spin 0.8s linear infinite;
  border: 3px solid var(--near-white);
  border-top-color: var(--orange);
  height: 100%;
  transition: transform 0.3s linear;
  width: 100%;
}

@media (--breakpoint-not-small) {
  ._spinner {
    border-color: var(--moon-gray);
    border-top-color: var(--orange);
    height: 75%;
    width: 75%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
