<template>
  <span>
    <slot></slot>
  </span>
</template>

<script>
import Tooltip from 'tooltip.js';

export default {
  name: 'fh-tooltip',
  props: ['boundaries-element', 'container', 'tooltip'],
  mounted() {
    const options = {
      title: this.tooltip
    };

    if (this.boundariesElement) {
      options.boundariesElement = this.boundariesElement;
    }

    if (this.container) {
      options.container = this.container;
    }

    // #TODO: Rename this._tooltip?
    this._tooltip = new Tooltip(this.$el, options);
  },
  destroyed() {
    this._tooltip.dispose();
  }
};
</script>
