<template>
  <div class="h-100" id="app">
    <div class="_main bg-near-white black-70 f6 flex flex-column sans-serif">
      <router-view name="header" />
      <router-view />
      <router-view name="footer" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
};
</script>

<style src="./main.css"></style>

<style scoped>
._main {
  min-height: 100%;
}
</style>
