@import 'tachyons/src/tachyons.css';

.tooltip {
  background-color: var(--dark-gray);
  border-radius: 2px;
  color: var(--near-white);
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
  font-size: 0.75rem;
  padding: var(--spacing-small);
  text-align: center;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip-arrow {
  border-color: var(--dark-gray);
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 5px 5px 0;
  bottom: -5px;
  left: calc(50% - 5px);
  margin: 0;
}
